<h3>Users of {{learning.name}}</h3>

<form [formGroup]="form" class="mt-4" (submit)="$event.preventDefault()">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="assignUsers" ngbDropdownToggle>
      Select users
    </button>
    <div ngbDropdownMenu aria-labelledby="assignUsers">
      <div *ngIf="users$|async as users" formArrayName="users" class="px-2">
        <label
          class="learning-users__user-control form-check"
          *ngFor="let control of usersFormArray.controls; let idx=index"
        >
          <input
            class="form-check-input"
            type="checkbox"
            [formControlName]="idx"
          />
          <p class="form-check-label text-nowrap">{{ users[idx].name }}</p>
        </label>
      </div>
    </div>
  </div>
</form>

<div class="mt-4">
  <button
    class="learning-users__assign-btn btn btn-primary"
    type="button"
    (click)="onSaveClick()"
  >
    Assign
  </button>
  <button
    class="learning-users__cancel-btn btn btn-outline ml-2"
    type="button"
    (click)="onCloseClick()"
  >
    Cancel
  </button>
</div>
