.learnings-list {
  &__item {
    display: grid;
    grid: auto / auto-flow 1fr;
    gap: 0 1rem;
    align-items: center;
  }

  &__item-head-cell {
    font-size: 0.875rem;
    font-weight: bold;
  }

  &__item-cell,
  &__item-actions {
    display: grid;
    grid: auto / auto-flow auto;
    justify-content: start;
    align-items: center;
    gap: 0 0.5rem;
  }

  &__item-actions {
    grid: auto / auto-flow 0.5fr;
  }

  &__item-action {
    min-width: 0;
  }
}
