:host {
  padding: 1rem 2rem;
}

.user-learnings {
  &__item {
    display: grid;
    grid: auto / auto-flow 1fr;
    align-items: center;
  }

  &__item-head-cell {
    font-size: 0.875rem;
    font-weight: bold;
  }

  &__item-cell {
    &:last-of-type {
      justify-self: end;
    }
  }
}
