/* You can add global styles to this file, and also import other style files */

@import "./reset.scss";

html {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  display: flex;
  flex-direction: column;
  flex: 1;
}
